.resume{
    width: 100%;
    background-color: #151922;
    color: aliceblue;
    padding: 40px 0;
    position: relative;
}
.rescont{
    width: 90%;
    margin: 0 auto;
    display: flex;
}
.resume .links{
    width: 20%;
    display: flex;
    flex-direction: column;
    line-height: 50px;
}
.resume .links a{
    text-decoration: none;
}
.resume .tolinks{
    width: 80%;
    height: 80vh;
    overflow: scroll;
}
.tolinks::-webkit-scrollbar {
    display: none;
  }