* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
  }
body::-webkit-scrollbar {
    display: none;
  }
  #home,#about,#resume,#work,#contact{
    transform: translateX(-50px);
    opacity: 0;
  }